Repository NicolasBELLANGER/Projet-Final-Angular: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: package.json
  package.json
  src/index.html
Due: eslint --fix, prettier --write

fix: ajout ligne dans les packages, ajout des icons pour le pwa
  package-lock.json
  package.json
  src/assets/favicon.ico
  src/assets/icons/sneaker-192x192.png
  src/assets/icons/sneaker-512x512.png
  src/assets/manifest.webmanifest
  src/index.html
Due: eslint --fix, prettier --write

feat: ajout des couleurs sur la partie catalogue + fix: couleur pipeHex
  src/app/features/catalog/components/catalog.component.ts
  src/app/shared/pipes/color-hex.pipe.ts
Due: eslint --fix

fix: fixe de css et ajout d'un bouton filtre
  package-lock.json
  package.json
  src/app/features/auth/components/login/login.ts
  src/app/features/auth/components/register/register.ts
  src/app/features/catalog/components/catalog.component.ts
  src/index.html
  src/styles.scss
Due: eslint --fix, prettier --write

feat: ajout du composant Paiement
  src/app/features/checkout/components/checkout.component.ts
Due: eslint --fix

feat: creation de la page de paiement
  src/app/features/auth/components/register/register.ts
  src/app/features/auth/models/user.model.ts
  src/app/features/auth/services/auth.service.ts
  src/app/features/checkout/components/checkout.component.ts
Due: eslint --fix

fix: fix du template paiement + feat: ajout du bouton sur la page cart
  src/app/features/cart/components/cart.component.ts
  src/app/features/checkout/components/checkout.component.ts
Due: eslint --fix

feat: création du service Orders
  src/app/features/cart/models/cart.models.ts
  src/app/features/cart/services/cart.service.ts
  src/app/features/orders/models/orders.models.ts
  src/app/features/orders/services/orders.service.ts
Due: eslint --fix

feat: ajout de la page commandes par user et ajout de toutes les commandes dans admin
  src/app/features/admin/components/admin.component.ts
  src/app/features/checkout/components/checkout.component.ts
  src/app/features/orders/components/orders.component.ts
  src/app/features/orders/services/orders.service.ts
Due: eslint --fix

fix: soucis de css sur la partie admin
  src/app/features/admin/components/admin.component.ts
Due: eslint --fix

fix: nouvelle maniere de récuperer les cart par user identique que pour les orders
  src/app/features/admin/components/admin.component.ts
  src/app/features/cart/components/cart.component.ts
  src/app/features/cart/services/cart.service.ts
Due: eslint --fix

feat: ajout du form pour la carte & fix: mise à jour du signal currentUser
  src/app/core/guards/admin.guards.ts
  src/app/features/admin/components/admin.component.ts
  src/app/features/auth/services/auth.service.ts
  src/app/features/cart/services/cart.service.ts
  src/app/features/catalog/components/catalog.component.ts
  src/app/features/checkout/components/checkout.component.ts
  src/app/features/orders/components/orders.component.ts
  src/app/features/products/components/product.component.ts
  src/app/shared/components/header/header.component.ts
Due: eslint --fix

fix: normalisation des inject dans les composants & et des states privé et public
  src/app/core/guards/admin.guards.ts
  src/app/features/auth/services/auth.service.ts
  src/app/features/cart/components/cart.component.ts
  src/app/features/cart/services/cart.service.ts
  src/app/features/catalog/components/catalog.component.ts
  src/app/features/checkout/components/checkout.component.ts
  src/app/features/orders/components/orders.component.ts
  src/app/features/products/components/product.component.ts
  src/app/shared/components/header/header.component.ts
Due: eslint --fix

fix: normalisation des appelations dans les boules for
  src/app/features/admin/components/admin.component.ts
  src/app/features/cart/components/cart.component.ts
  src/app/features/checkout/components/checkout.component.ts
  src/app/features/orders/components/orders.component.ts
Due: eslint --fix

feat: Ajout de commentaire
  src/app/features/admin/components/admin.component.ts
  src/app/features/auth/components/login/login.ts
  src/app/features/auth/components/register/register.ts
  src/app/features/cart/components/cart.component.ts
  src/app/features/cart/services/cart.service.ts
  src/app/features/catalog/components/catalog.component.ts
  src/app/features/catalog/services/catalog.service.ts
  src/app/features/checkout/components/checkout.component.ts
  src/app/features/products/components/product.component.ts
Due: eslint --fix

feat Update README.md
  README.md
Due: none

Path conditions:
  eslint --fix: (any of: *.ts) or (any of: *.html)
  prettier --write: ((any of: *.html) or (any of: *.css)) or (any of: *.json)
